@import "../../variables.scss";

.Skill-container{
    margin: 8vmin 0;
    .title-text {
        opacity: 0;

        &.in-view{
            animation: bottomSlide .5s ease-in-out forwards;
        }
    }

    .cards {
        flex-direction: row;
    
        @media (max-width: 1300px){
            flex-direction: column;
        }

        .card {
            opacity: 0;
            height: 500px;
            background: $cardShade;
            border-radius: 15px;
            box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
            max-width: 400px;
            min-width: 400px;
            overflow: hidden;
            justify-content: space-between;
            position: relative;
            transition: all 0.4s ease;
            margin: 10px;
      
            article {
                z-index: 1;
        
            h2 {
                color: white;
                margin: 0;
                padding: 40px 20px 10px 20px;
                font-weight: 500;
                font-size: 24px;
                letter-spacing: 0.5px;
            }
        
            .desc {
                text-align: justify;
                padding: 10px 15px;
                font-size: 15px;
                line-height: 24px;
                color: #666;
                height: 90px;
                transition: all 0.4s ease-out;
            }
        
            .pic {
                width: 120px;
                height: 120px;
                overflow: hidden;
                border-radius: 100%;
                margin-top: 20px;
                box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.3);
                transition: all 0.6s ease;
        
                img {
                    width: 100%;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
                }
            }
      
            &:hover {
                transform: translateY(-10px);
                box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
            
                &:before {
                    height: 100%;
                    border-radius: 4px;
                }
            
                .desc {
                    color: white;
                }
                
                .pic {
                    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3);
                    img {
                        -webkit-filter: grayscale(0%);
                        filter: grayscale(0%);
                    }
                }
            }
        }

        &.in-view{
            .card{
                animation: rightSlide .5s ease-in-out forwards;
            }
        }
    }
}